/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans:wght@400;700&display=swap');
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --bg: #ffffff;
  --accent: #ee0000;
  --light-color: #c7c7c7;
  --dark-color: #494949;

  --navbar-font: 'Bitter', serif;
  --hero-font: 'Open Sans', sans-serif;
  --body-font: 'Source Sans-Pro', sans-serif;

  --nav-size: 62px;

  --speed: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px 30px;
}

.navbar-list {
  height: 100%;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--navbar-font);
  font-size: 24px;
  margin: 0px 40px;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button svg {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.button-color {
  color: var(--light-color);
  transition: filter 400ms;
}

.button-color:hover {
  filter: brightness(0.7);
}

.nav-logo svg {
  color: var(--light-color);
  width: 30px;
  height: 30px;
}

.icon:hover {
  color: var(--dark-color);
}

#home,
#portfolio,
#about,
#contact {
  max-width: 1200px;
  height: calc(100vh - var(--nav-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  font-family: var(--hero-font);
  font-size: 144px;
  letter-spacing: 20px;
  color: var(--dark-color);
  margin: 28px 28px 28px 0px;
}

.hero-accent {
  width: 100%;
  border: 3px solid var(--accent);
  border-radius: 5px;
}

.headline {
  font-family: var(--body-font);
  font-size: 36px;
  font-weight: normal;
  color: var(--dark-color);
  margin-top: 28px;
  letter-spacing: 1px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 150px;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-family: var(--body-font);
  font-weight: bold;
  background-color: white;
  filter: drop-shadow(0px 4px 4px #afafaf);
}

.progress {
  color: var(--accent);
}

button a {
  text-decoration: none;
  color: var(--dark-color);
}
