:root {
  --bg: #ffffff;
  --accent: #ee0000;
  --light-text: #c7c7c7;
  --dark-text:#494949;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}